{% extends "coplate_base/base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %}비밀번호재설정 | Coplate{% endblock title %}

{% block content %}
<div class="account-background">
  <main class="account">
    <div class="title">
      <a href="{% url 'index' %}">
        <img class="logo" src="{% static 'coplate/assets/coplate-logo.svg' %}" alt="Coplate Logo">
      </a>
    </div>
    <form method="post">
      {% csrf_token %}
      <div>
        {{ form.password1|add_class:"cp-input" |attr:"placeholder:새비밀번호"|add_error_class:"error" }}
        {% for error in form.password1.errors %}
          <div class="error-message">{{ error }}</div>
        {% endfor %}
      </div>
      <div>
        {{ form.password2|add_class:"cp-input" |attr:"placeholder:새비밀번호확인"|add_error_class:"error" }}
        {% for error in form.password2.errors %}
          <div class="error-message">{{ error }}</div>
        {% endfor %}
      </div>
      <button class="cp-button" type="submit">비밀번호 재설정</button>
    </form>
  </main>
</div>
{% endblock content %}